body {
    /* eggshell bitch */
    background-color: #f0ead6;
    line-height:16px;
}

.titlebar{
    position: fixed;
    top: 15px;
    left: 2px;

    font-size: 24px;
    line-height: 28px;
    font-weight: 200;
    font-style: oblique;

    border: 10px;
    width: 100px;
    border-style: outset;
    
}

.darkmodebutton{
    position: fixed;
    top: 75px;
    left: 2px;

    font-size: 24px;
    line-height: 28px;
    font-weight: 200;
    font-style: oblique;

    border: 10px;
    width: 115px;
    border-style: outset;
    
}

.dark-mode {
    background-color: #181818;
    color: #f0ead6;
  }

.post {
    /* word wrapping */
    inline-size: 650px;
    overflow-wrap: break-word;

    /* center the post */
    width: 50%;
    margin: 0 auto;
    margin-left: 150px;

    /* This is for better IE8 (and later) compatibility */
    /*display: table;*/
    /*margin: 0 auto;*/
    
    line-height: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;

    border-style: outset;
}

h3 {
    /* word wrapping */
    inline-size: 650px;
    overflow-wrap: break-word;

    line-height: 0px;
    padding-left: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
}

p {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 12px;
}

.date {
    /* word wrapping */
    inline-size: 650px;
    overflow-wrap: break-word;

    font-size:16px;
    line-height:0px;

    padding-top: 0px;
    padding-bottom: 0px;
    margin: 16px;
}

.footer {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 15px;
}